* { 
    box-sizing: border-box;
    background-color: #555;
}

h2 {
    color: rgb(236, 160, 17);
    padding: 5px 10px 10px 40px;
    margin: 0px;
}

h3 {color: whitesmoke}


label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: whitesmoke
}

input {
    width: 100%;
    padding: 9px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
    background-color: whitesmoke;
}
    
input:focus {border: 2px solid rgb(236, 160, 17)}

.container {
    padding: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    padding: 5px;
    margin-top: 5px;
}

.addExpBtn {
    padding: 10px;
    background: #d9d9d9;
    color: #555;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid grey;
    border-radius: 4px;
    user-select: none;
}

.addExpBtn:hover {
    background-color: rgb(116, 116, 116);
    color:rgb(236, 160, 17);
}

.col-15 {
    float: left;
    width: 20%;
}

.col-85 {
    float: left;
    width: 80%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}

td, th {
    border: 1px solid #555;
    padding: 5px;
    vertical-align: center;
    text-align: left;
    height: 35px;
    user-select: none;
    background-color: #ddd;
}

td:hover {    
    background-color: rgb(116, 116, 116);
    color:rgb(236, 160, 17);
}

.close {
    padding: 8px;
    background-color: rgb(116, 116, 116);
}

.close:hover {color:rgb(236, 160, 17);}


@media screen and (max-width: 600px) {
    .col-15, .col-85, span {
        width: 100%;
        margin-top: 0;
    }
}